{% extends 'backend/base.html' %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ total_categories }}</h3>

              <p>Category</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ total_products }}</h3>

              <p>Product</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'product_list' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ total_invoice }}</h3>

              <p>Invoice</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="{% url 'invoice_list' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>₹{{ revenue }}</h3>

              <p>Overall Revenue</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="{% url 'invoice_list' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="box box-success">
          <div class="box-header with-border">
              <h3 class="box-title">Monthly Revenue Chart</h3>

              <div class="box-tools pull-right">
                  <button type="button"
                          class="btn btn-box-tool"
                          data-widget="collapse">
                      <i class="fa fa-minus"></i>
                  </button>

                  <button type="button"
                          class="btn btn-box-tool"
                          data-widget="remove">
                      <i class="fa fa-times"></i>
                  </button>
              </div>
          </div>

          <div class="box-body chart-responsive">
              <div id="bar-chart" style="height:300px;"></div>
          </div>
      </div>

       <div class="row">

    <div class="col-md-6">
        <div class="box box-danger">

            <div class="box-header with-border">
                <h3 class="box-title">Top Selling Products</h3>

                <div class="box-tools pull-right">
                    <button type="button"
                            class="btn btn-box-tool"
                            data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                    <button type="button"
                            class="btn btn-box-tool"
                            data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="box-body chart-responsive">
                <div class="chart"
                     id="sales-chart"
                     style="height: 300px; position: relative;">
                </div>
            </div>

        </div>
    </div>

</div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Raphael -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
<!-- Morris CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<!-- Morris JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script>
    var revenueData = {{ revenue_chart|safe }};

    new Morris.Bar({
        element: 'bar-chart',
        resize: true,
        data: revenueData,
        xkey: 'y',
        ykeys: ['revenue'],
        labels: ['Revenue'],
        barColors: ['#ffae00'],
        gridTextSize: 12,
        xLabelAngle: 45,
        hideHover: 'auto'
    });
</script>

<script>
$(function () {

    var donutData = {{ sales_donut|safe }};

    new Morris.Donut({
        element: 'sales-chart',
        resize: true,
        colors: [
            '#3c8dbc',
            '#f56954',
            '#00a65a',
            '#f39c12',
            '#605ca8'
        ],
        data: donutData,
        hideHover: 'auto',
        formatter: function (value) {
            return value + ' Units';
        }
    });

});
</script>
{% endblock %}